beautifulsoup4==4.12.3
imgviz==1.7.5
labelme==5.4.1
lxml==5.2.1
matplotlib==3.8.4
numpy==1.26.4
onnxruntime==1.17.3
packaging==24.0
pillow==10.3.0
progressbar==2.5
protobuf==5.26.1
PyQt5==5.15.10
scikit-learn==1.4.2
termcolor==2.4.0
tqdm==4.66.4
xmltodict==0.13.0